[submodule "learning"]
	path = learning
	url = https://github.com/hy-git-111/LearningNotes
[submodule "projects/1st_project"]
	path = projects/1st_project
	url = https://github.com/hy-git-111/eliceproject_qa04.git
